<div >
        <div class="card mb-3" *ngFor="let bmkList of expBookmark">      
              <div class="card-body" >            
                <h5 class="card-title text-primary">{{ bmkList.title }}
                </h5>
        
                <p class="card-text text-dark">{{ bmkList.description }} This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text float-right"><small class="text-muted">Last updated 3 mins ago</small></p>    
                <small>
                    <a href="#" class="fa fa-pencil" (click)="onEditLink(editModal)"></a>
                </small>
                <small>
                  <a href="#" class="card-link px-2 fa fa-trash" (click)="onDeleteLink(deleteModal)"></a>
                </small>        
                <small><a href="#" class="card-link text-muted"><span class="fa fa-tag px-2">  </span>Genral </a></small>        
              </div>
          </div> 
        </div>
        
         
        <ng-template #editModal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer"> 
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </ng-template>
        
        
        <ng-template #deleteModal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <h6>Are you sure you want to delete this link ?</h6>
          </div>
          <div class="modal-footer"> 
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Yes</button>
            <button type="button" class="btn btn-primary">No</button>
          </div>
        </ng-template>
        
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end my-5">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
        </nav>
        