<div class="card">        
<ul class="list-group"> 
            <a routerLink="/explore"
                routerLinkActive="active"            
                class="list-group-item list-group-item-action">
                <span class="fa fa-globe px-3"></span>  Explore Links 
            </a> 
</ul>
</div>
<br>

<div class="card">
    <div class="card-header">Folders</div>
    <ul class="list-group"> 
            <a 
                routerLink="/folder1"
                routerLinkActive="active"
                class="list-group-item list-group-item-action ">
                Cras justo odio
            </a>  
            <a href="#" class="list-group-item list-group-item-action">
                Dapibus ac facilisis in
            </a>  
            <a href="#" class="list-group-item list-group-item-action">
                Morbi leo risus
            </a>  
            <a href="#" class="list-group-item list-group-item-action">
                Porta ac consectetur ac
            </a>  
            <a href="#" class="list-group-item list-group-item-action">
                Vestibulum at eros
            </a> 
    </ul>
</div>

<app-managefolder></app-managefolder>