/* You can add global styles to this file, and also import other style files */
/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

#sticky-sidebar {
    position:fixed;
    max-width: 20%;
  }